body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: url("8-fon-dlya-sayta-min.png");
}

.wrapper {
  margin: 55px auto;
  width: 70%;
}

.file-size-notice {
  font-size: 0.8em;
  color: #333;
  font-style: italic;
}

.test-upload-header {
  text-align: center;
}

.test-upload-form {
  margin: 0 auto;
  padding: 15px;
  width: 50%;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(106, 142, 19, 0.4); 
  border-radius: 10px;
  text-align: center;
}

#test-upload {
  margin-top: 10px;
}

.test-upload-form button {
  margin-top: 10px;
  padding: 10px;
  min-height: 40px;
  font-size: 1.1em;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #84AE1F;
  color: #fff;
  box-shadow: 0 3px 0 #6A8E13;
  transition: 0.3s;
}

.test-upload-form button:hover {
  background: #95C22A;
  box-shadow: 0 2px 0 #6A8E13;
}

.test-upload-form button:active {
  box-shadow: none;
}

.all-tests-list {
  margin: 20px;
  display: block;
  text-align: center;
}

.test-form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 15px;
}

.onetest {
    float: left;
    margin: 10px 20px 10px 0;
}

.onetest-p {
    margin-bottom: 0;
}